<div class="carousel w-full ">
  <div [id]="item.id" class="carousel-item relative w-full py-2" *ngFor="let item of products; let i = index;">
    <div class="card shadow-sm md:card-side flex-col md:h-52 mx-auto">
      <figure class="p-4">
        <img [src]="item.imageUrl" [alt]="item.name" class="md:h-full md:w-full w-20 h-20 cover-full rounded" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{item.name}}</h2>
        <p>{{item.description}}</p>
        <a class="btn btn-primary" (click)="redirectToProduct(item.id)">Ir al producto</a>
      </div>
    </div>
  </div>
</div>