<div tabindex="0" role="button" class="btn btn-ghost btn-circle">
  <div class="indicator">
    <lucide-angular [img]="ShoppingCart"></lucide-angular>
    <span class="badge badge-sm indicator-item">{{itemCount}}</span>
  </div>
</div>
<div tabindex="0" class="card card-compact dropdown-content bg-base-100 z-1 mt-3 w-52 shadow">
  <div class="card-body">
    <span class="text-lg font-bold">{{itemCount}} Items</span>
    <span class="text-info">Subtotal: ${{total}}</span>
    <div class="card-actions">
      <button class="btn btn-primary btn-block" [routerLink]="['cart']">View cart</button>
    </div>
  </div>
</div>
