<footer class="footer footer-center p-5 bg-base-200 text-base-content rounded mt-auto flex flex-col md:flex-row md:justify-between">
  <div class="grid-flow-col gap-4 hidden md:grid">
    <a class="link link-hover" [href]="projectsUrl" target="_blank">Proyectos</a>
    <a class="link link-hover" [href]="contactUrl" target="_blank">Contacto</a>
  </div>

  <!-- Social Media -->
  <div>
    <div class="grid grid-flow-col gap-4">
      <a [href]="whatsappUrl" target="_blank" class="link">
        <lucide-angular [img]="MessageCircle"></lucide-angular>
      </a>
      <a [href]="githubUrl" target="_blank" class="link">
        <lucide-angular [img]="Github"></lucide-angular>
      </a>
      <a [href]="linkedinUrl" target="_blank" class="link">
        <lucide-angular [img]="Linkedin"></lucide-angular>
      </a>
      <a [href]="contactUrl" target="_blank" class="link">
        <lucide-angular [img]="Mail"></lucide-angular>
      </a>
    </div>
  </div>

  <div>
    <p class="lg:text-md text-xs">©2025 Mauricio Godoy - Desarrollado con Spring y Angular</p>
  </div>
</footer>