<ul class="card w-full bg-base-100 rounded-box shadow-md col-span-3 h-fit" *ngIf="cartsMap.length > 0; else emptyList">

  <div class="card-body">
    <h2 class="card-title uppercase">Historial de compras</h2>
    <div class="flex flex-col gap-2 w-full" *ngFor="let item of cartsMap">
      <h3 class="font-semibold">{{item.date}}</h3>
      <div *ngFor="let cart of item.carts" class="w-full">
        <div class="flex justify-between items-center">
          <div class="flex gap-4">
            <figure class="h-20">
              <img [src]="cart!.cartProducts![0].product.imageUrl" [alt]="cart!.cartProducts![0].product.name"
                class="h-full w-full cover-full rounded" />
            </figure>
            <div>
              <h4>{{cart.cartProducts?.length}} Producto<span *ngIf="cart.cartProducts!.length > 1">s</span></h4>
              <h4 class="text-primary font-semibold">{{cart.total | currency}}</h4>
            </div>
          </div>

          <button class="btn btn-primary" [routerLink]="['/cart', cart.id]">Ver carrito</button>
        </div>
        <div class="divider w-full"></div>

      </div>
    </div>

  </div>

</ul>


<ng-template #emptyList>
  <div class="flex justify-center flex-col items-center p-2 shadow bg-base-100 rounded-box">
    <p class="p-4 text-gray-500">No hay compras registradas</p>
    <button class="btn btn-primary w-full max-w-3/6" type="button" [routerLink]="['/products']">Ir a la
      tienda</button>
  </div>
</ng-template>