<div class="shadow-sm bg-secondary">
  <div class="container mx-auto max-w-6xl navbar ">

    <div>
      <a class="text-xl font-bold text-white flex items-center gap-2" routerLink=""><lucide-angular
          [img]="Store"></lucide-angular> Bazar</a>
    </div>

    <div class="mx-auto flex w-2/4">
      <input type="search" placeholder="Buscar" [(ngModel)]="search" class="input w-full mr-1" />
      <button type="button" (click)="searchProducts()" class="btn btn-primary">
        <lucide-angular [img]="Search"></lucide-angular>
      </button>
    </div>

    <a class="btn btn-ghost text-white" [routerLink]="['products']">Tienda</a>

    <ng-container *ngIf="!isLoggedIn">
      <a class="btn btn-ghost text-white" routerLink="login">Ingresá</a>
      <a class="btn btn-ghost text-white" routerLink="register">Registrate</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <div class="flex">
        <div class="dropdown dropdown-end">
          <button class="btn btn-circle btn-ghost text-white" tabindex="0">
            <lucide-angular [img]="User"></lucide-angular>
          </button>
          <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li><button type="button" class="btn" routerLink="/carts">Mis compras</button></li>
            <li><button type="button" class="btn  btn-ghost" (click)="logout()">Cerrar sesión</button></li>
          </ul>
        </div>
      </div>
    </ng-container>

    <app-cart-preview></app-cart-preview>

  </div>
</div>
<div class="shadow-sm bg-base-100">
  <div class="container mx-auto max-w-6xl flex gap-1 py-1">
    <button type="button" class="btn btn-sm grow btn-ghost " *ngFor="let item of categories"
      [ngClass]="item.id == categoryId ? 'btn-active' : ''" (click)="filterByCategory(item.id)">{{item.name}}</button>
  </div>
</div>
