<div class=" bg-base-100 shadow-sm">
  <div class="container mx-auto max-w-6xl navbar">

    <div>
      <a class="btn btn-ghost text-xl" [routerLink]="['']">Store</a>
    </div>

    <div class="mx-auto flex w-2/4">
      <label class="input w-full">
        <input type="search" placeholder="Buscar" [(ngModel)]="search" />
      </label>
      <button type="button" (click)="searchProducts()" class="btn">
        <lucide-angular [img]="Search"></lucide-angular>
      </button>
    </div>

    <a class="btn btn-ghost" [routerLink]="['products']">Tienda</a>
    <a class="btn btn-ghost" routerLink="login">Ingresá</a>

    <div class="flex">
      <div class="dropdown dropdown-end">
        <app-cart-preview></app-cart-preview>
      </div>
      <div class="dropdown dropdown-end">
        <button class="btn btn-circle btn-ghost">
          <lucide-angular [img]="User"></lucide-angular>
        </button>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><a routerLink="carts">Mis compras</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
