@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "neon-soft";
  default: true;
  prefersdark: true;
  color-scheme: "light";

  --color-base-100: oklch(98% 0.005 280);       /* fondo claro base */
  --color-base-200: oklch(95% 0.007 280);       /* fondo secundario */
  --color-base-300: oklch(90% 0.008 280);       /* tarjetas suaves */
  --color-base-content: oklch(24% 0.01 280);    /* texto principal */

  --color-primary: oklch(65% 0.25 278);         /* violeta eléctrico */
  --color-primary-content: oklch(97% 0.01 280); /* texto sobre violeta */

  --color-secondary: oklch(70% 0.22 24);        /* naranja coral pastel */
  --color-secondary-content: oklch(98% 0.015 40); /* texto sobre coral */

  --color-accent: oklch(75% 0.19 170);          /* verde menta suave */
  --color-accent-content: oklch(24% 0.04 170);  /* texto sobre verde */

  --color-neutral: oklch(18% 0.01 280);         /* gris oscuro violeta */
  --color-neutral-content: oklch(95% 0.005 280);/* texto sobre gris */

  --color-info: oklch(80% 0.17 230);            /* celeste claro info */
  --color-info-content: oklch(25% 0.06 235);    /* texto info */

  --color-success: oklch(76% 0.18 150);         /* verde éxito */
  --color-success-content: oklch(20% 0.06 150); /* texto sobre verde */

  --color-warning: oklch(85% 0.22 90);          /* amarillo suave */
  --color-warning-content: oklch(30% 0.08 70);  /* texto sobre amarillo */

  --color-error: oklch(68% 0.22 20);            /* rojo suave error */
  --color-error-content: oklch(20% 0.08 15);    /* texto sobre rojo */

  --radius-selector: 0.5rem;
  --radius-field: 0.375rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-display: "Satoshi", "sans-serif";
}

input {
  @apply focus:outline-offset-0 focus:border-0 focus:outline-primary;
}