@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-font-display: "Satoshi", "sans-serif";
  --color-background: #0B0C10;
  --color-primary: #7f5af0;
  --color-secondary: #ff6f61;
  --color-details: #e3f6f5;
  --color-text: #f7f7f7;
}
